.maps-for-contact-form-7-option-add {
}
.maps-for-contact-form-7-shortcode {
	width: 100%;

	.maps-for-contact-form-7-shortcode-form {
	}
	.maps-for-contact-form-7-shortcode-radio-label {
	}
	.maps-for-contact-form-7-shortcode-radio {
	}
	.maps-for-contact-form-7-shortcode-rank-label {
	}
	.maps-for-contact-form-7-shortcode-map-rank {
	}
	.maps-for-contact-form-7-shortcode-map-block {
	}
	.maps-for-contact-form-7-shortcode-map {
		width: 90%;
		height: 50vh;
	}
}
.map-conatct-form-7-option-label {
	text-decoration: underline;
}
.maps-for-wpcf7-place-map {
	width: 90%;
	height: 50vh;
	visibility: hidden;
}
input.maps-for-wpcf7-place {
}
select.maps-for-wpcf7-place {
}

