.maps-for-cf7-option-add {
}
.maps-for-cf7-shortcode {
	width: 100%;

	.maps-for-cf7-shortcode-form {
	}
	.maps-for-cf7-shortcode-radio-label {
	}
	.maps-for-cf7-shortcode-radio {
	}
	.maps-for-cf7-shortcode-rank-label {
	}
	.maps-for-cf7-shortcode-map-rank {
	}
	.maps-for-cf7-shortcode-map-block {
	}
	.maps-for-cf7-shortcode-map {
		width: 90%;
		height: 50vh;
	}
}
.maps-for-cf7-candidates-label {
	text-decoration: underline;
}
.maps-for-cf7-candidate-list {
}
.maps-for-cf7-add-candidate-button {
}
.maps-for-cf7-targets-label {
}
.maps-for-cf7-target-list {
}
.maps-for-cf7-remove-target-button {
}
.maps-for-cf7-place-map {
	width: 90%;
	height: 0vh;
	visibility: hidden;
}
input.maps-for-cf7-place {
}
select.maps-for-cf7-place {
}

