/* line 3, styles.scss */
.maps-for-cf7-shortcode {
  width: 100%;
}
/* line 18, styles.scss */
.maps-for-cf7-shortcode .maps-for-cf7-shortcode-map {
  width: 90%;
  height: 50vh;
}

/* line 23, styles.scss */
.maps-for-cf7-candidates-label {
  text-decoration: underline;
}

/* line 36, styles.scss */
.maps-for-cf7-place-map {
  width: 90%;
  height: 0vh;
  visibility: hidden;
}
